.navbar {
    background-color: #3b78a5;
}
.btn-group > .btn {
    background-color: #b2c4d2;
}
.btn-group > .btn:hover {
    background-color: #9DBAD1;
}
.btn-group > .active {
    background-color: #D1BC9D;
}
.list-group {
    flex-direction: row !important;
}