* {
    box-sizing: border-box;
    font-family: sans-serif;
}
.hero {
    height: 380px;
    background-color: rgba(58,64,74,0.33);
    background-image: radial-gradient(black 33%,transparent 66%);
    background-size: 2px 2px;
}
.hero > img {
    height: 380px;
    width: 100%;
    position: absolute;
    left: 0;
    z-index: -1;
}

.hero > h1,
.hero > h2,
.hero > h3,
.hero > h4,
.hero > h5,
.hero > h6 {
    font-family: serif;
}

.hero > form {
    width: 25%;
}

.hero > form button {
    color: var(--primary);
}

.navbar {
    top: 0;
    margin-bottom: 70px;
    margin-top: -70px;
    background-color: rgba(197,198,198,.8);
    z-index: 9;
}

.navbar-nav > .nav-link {
    border-right: rgb(0,0,0) solid 1px;
}

.card > .badge {
    position: absolute;
    border-radius: 0 0 4px 0;
}

